<div class ="box centered w50">
  <h1>
    <div class="i48grad-error"></div>
    <%= t("the_page_you_were_looking_for_doesnt_exist", :default => "The page you were looking for doesn't exist") %>
  </h1>
  <p><%= t("you_may_have_mistyped_the_address_or_the_page_may_have_moved", :default => "You may have mistyped the address or the page may have moved.") %></p>
  <hr/>
  <%= link_to t("back", :default => 'Back'), :back, :class =>"button white" %>
</div>
